#share-container span {
    display: block;
    margin: 3rem auto;
    font-size: 100px;
    padding: 2rem;
    margin: 2rem;
  }
  #share-buttons i {
    font-size: 100px;
    margin: 20px;
  }
  .facebook {
        color: #3b5998;
  }
  .twitter {
      color: #55acee;
  }
  .linkedin {
      color: #0077b5;
  }
  .reddit {
      color: #cb2027;
  }
  .whatsapp {
      color: #25D366;
  }
  .telegram {
      color: #229ED9;
  }
  .facebook, .twitter, .linkedin, .reddit, .whatsapp, .telegram {
    opacity: 0.6;
  }
  .facebook:hover, .twitter:hover, .linkedin:hover, .reddit:hover, .whatsapp:hover, .telegram:hover {
    opacity: 0.9;
  }