{% extends 'baseback.html.twig' %}

{% block title %}nouveau emploi{% endblock %}

{% block body %}
    <h1>ajouter un emploi</h1>
    {{ include('emploi/_form.html.twig') }}

    <a href="{{ path('app_emploi_index') }}">back to list</a>
{% endblock %}
