{# templates/quizz/submit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Quiz Result{% endblock %}

{% block body %}

    <h1>Your Score</h1>
    <p>Total Score: {{ totalScore }}</p>
      {# Display the QR code image #}
    <img src="{{ qrCodeData }}" alt="QR Code for Total Score">
   
{% endblock %}
